<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
        <div class="form-group">
          <%= f.label :name, "Engineer" %><br>
          <%= f.select :engineers_id, options_from_collection_for_select(Engineer.all, :id, :name, @project.engineers_id),
          { :include_blank => false }, { :class => 'form-control'} %>
        </div>
        <div class="form-group">
          <%= f.label :project %><br>
          <%= f.text_field :project, required: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :statuses_id, "Status" %><br>
          <%= f.select :statuses_id, options_from_collection_for_select(Status.all, :id, :state, @project.statuses_id),
          { :include_blank => false }, { :class => 'form-control'} %>
        </div>
        <div class="form-group">
          <%= f.label :percentage, "Percent complete" %><br>
          <%= f.text_field :percentage, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :thisweek, "This week's project" %><br>
          <%= f.text_area :thisweek, required: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :nextweek, "Next week's project" %><br>
          <%= f.text_area :nextweek, required: true, class: "form-control" %>
        </div>
        <div class="actions">
          <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

