<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.text_for_engineer %>
</p>

<p>
  <strong>Project:</strong>
  <%= @project.project %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.text_for_status %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @project.percentage %>
</p>

<p>
  <strong>Thisweek:</strong>
  <%= @project.thisweek %>
</p>

<p>
  <strong>Nextweek:</strong>
  <%= @project.nextweek %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
